html, body {
	height: 100%;
}

html, body, input, textarea, buttons {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

header a {
	color: white;
}

#content-wrapper {
	min-height: 100%;
}

img.waveform {
	width: 100%;
	height: 100px;
}

img.mini-waveform {
	width: 100px;
	height: 20px;
}

.vertical-align {
	margin: auto;
}

.clickable {
	cursor: pointer;
}

.sound-desc {
	display: none;
}

.spacer {
	height: 1ex;
}

tr.highlight:hover {
	background-color: #bbdefb;
}

img.logo {
	height: 2em;
}

/* STRESS METERS */
.meter {
	height: 1em;
	background-color: #f5f5f5;
}

.meter-large {
	height: 2em;
}

.meter > span {
	display: block;
	height: 100%;
	background-color: #9e9e9e;
}

.meter.stress {
	background-color: #ffcdd2;
}

.meter.stress > span {
	background-color: #f44336;
}

.meter.relaxing {
	background-color: #c8e6c9;
}

.meter.relaxing > span {
	background-color: #4caf50;
}
